$accentBgColor: #292727;
$lightText: #cfcfcf;
$darkText: #2c3e50;
$softBgColor: #ececec;  
$warning: #d35f5f;
$greyThing: #737e8d;


@font-face{
    font-family: 'Open Sans';
    src: url("~@/assets/font/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans:highlight';
    src: url("~@/assets/font/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face{
    font-family: 'Roboto';
    src: url("~@/assets/font/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face{
    font-family: 'Monteserrat';
    src: url("~@/assets/font/Montserrat/Montserrat-Medium.ttf") format("truetype");
}